
<div class="login_page">
    <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header login-header">
                <div class="logo-container" >
                    <img class="logo img-fluid" src="https://png.pngtree.com/png-clipart/20200710/original/pngtree-books-logo-png-image_4136014.jpg" alt="">
                 </div>
                 <div class="intro">
                      <h4 class="text-center welcome" >Welcome to CoachingExaminar</h4>
                 </div>
            </div>
            <div class="card-body">
               <div class="card login-form">
                <div class=" card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="email" class="form-control" placeholder="Enter mail id as username">
                        </div>
                        <div class="form-group">
                            <label for="username">Password</label>
                            <input type="password" class="form-control" placeholder="Enter your password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <div>
                        <a class="forget footer-text" href="">Forget Password ?</a>
                        <a class="signup footer-text" href="">Sing Up</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="card-footer">
                <p class="text-center footer-text">Designe & Developed by @CoachingExaminar</p>
            </div>
          </div>
        </div>
        
        
      </div>
</div>
